# Makefiles
CMakeFiles/*
CMakeCache.txt
cmake_install.cmake
Makefile
octoccupancy/CMakeFiles/*
octoccupancy/CMakeFiles
octoccupancy/CMakeCache.txt
octoccupancy/cmake_install_cmake
octoccupancy/Makefile

# Yuge Text Files
*.txt

# Binary data files
*.bin

# H5 files
*.h5

# PLY files
*.ply

# Executable
rc
octoccupancy/octoccupancy

# images
*.png
